<div class="container">

    <nav class="navbar navbar-default">
        <div class="navbar-brand" style="width: 100%">
            <a href="#/restaurants"><i class="glyphicon glyphicon-chevron-left"></i>
                {{'Restaurants' | translate}}</a> <i class="glyphicon glyphicon-chevron-left"></i>
            {{restaurant.name}} <i class="glyphicon glyphicon-chevron-left"></i>
            {{'Menus' | translate}} 
        </div>
    </nav>

    <div ng-repeat="menu in menus">

        <h4>{{menu.name}}</h4>

        <div class="row" style="font-weight:bold; border-bottom:solid 1px black;padding-bottom:10px;margin-bottom:10px">
            <div class="col col-xs-3" translate>Plat</div>
            <div class="col col-xs-6" translate>Description</div>
            <div class="col col-xs-1" translate>Prix</div>
            <div class="col col-xs-1" translate>Quantité</div>
        </div>

        <div class="row" ng-repeat="dish in menu.dishes">
            <div class="col col-xs-3" translate>{{dish.name}}</div>
            <div class="col col-xs-6" translate>{{dish.description}}</div>
            <div class="col col-xs-1" translate>{{dish.price}}</div>
            <div class="col col-xs-1" translate>
				<input type="number" ng-model="quantity" class="form-control">
			</div>
            <div class="col col-xs-1" translate>
				<button class="btn btn-default" ng-click="addCart(dish, quantity)">Ajouter</button>
			</div>
        </div>
    </div>

</div>