<div class="container">

	<nav class="navbar navbar-default">
		<div class="navbar-brand" translate>Menu</div>
		<div class="navbar-brand navbar-right">
			<a ng-click="add()" tooltip="{{'Ajouter' | translate}}">
				<i class="glyphicon glyphicon-plus clickable"></i>
			</a>
		</div>
	</nav>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th translate>Nom</th>
				<th translate>Nombre de plat</th>
				<th class="text-right" translate>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="menu in menus | orderBy:'name'">
				<td>{{$index + 1}}</td>
				<td>{{menu.name}}</td>
				<td>{{menu.dishes.length}}</td>
				<td class="text-right">
					<a ng-click="edit(menu)" tooltip="{{'Modifier' | translate}}"><i class="glyphicon glyphicon-pencil clickable"></i></a>
					<a ng-click="remove(menu)" tooltip="{{'Supprimer' | translate}}"><i class="glyphicon glyphicon-remove clickable"></i></a>
				</td>
			</tr>
		</tbody>
	</table>

</div>