<div class="modal-header">
	<h3 class="modal-title">'{{dish.name}}'</h3>
</div>

<form name="restaurantForm">
	<div class="modal-body">

		<alert-message alert-data="dataAlert"></alert-message>

		<div class="control-group">
			<label class="control-label">Nom *</label>
			<div class="controls">
				<input class="form-control" type="text" name="name" ng-model="dish.name" required>
			</div>
		</div>

        <!-- Limite de 255 char -->
		<div class="control-group">
			<label class="control-label">Description</label>
			<div class="controls">
				<input class="form-control" type="text" name="description" ng-model="dish.description">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Prix</label>
			<div class="controls">
				<input class="form-control" type="text" name="price" ng-model="dish.price">
			</div>
		</div>
        
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()" ng-disabled="restaurantForm.$invalid">Valider</button>
		<button class="btn btn-default" ng-click="cancel()">Annuler</button>
	</div>

</form>