<div class="container">

	<nav class="navbar navbar-default">
		<div class="navbar-brand">Plats</div>
		<div class="navbar-brand navbar-right">
			<a ng-click="add()" tooltip="Ajouter">
				<i class="glyphicon glyphicon-plus clickable"></i>
			</a>
		</div>
	</nav>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Prix</th>
				<th class="text-right">Actions</th>
			</tr>
		</thead>
		<tbody>
            <tr ng-repeat="dish in dishes">
				<td>{{dish.name}}</td>
				<td>{{dish.description}}</td>
				<td>{{dish.price}}</td>
			</tr>
		</tbody>
	</table>

</div>