<div class="modal-header">
    <h3 class="modal-title"><span translate>Trajet commande</span> '{{order.id}}'</h3>
</div>

<div class="modal-body">

    <alert-message alert-data="dataAlert"></alert-message>

    <p>Adresse de livraison : {{order.to}}</p>
    <g-map-direction from="order.from" to="order.to"></g-map-direction>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="accept()" translate>Accepter</button>
        <button class="btn btn-default" ng-click="cancel()" translate>Fermer</button>
    </div>

</div>