<div class="container">

    <nav class="navbar navbar-default">
        <div class="navbar-brand" style="width: 100%" translate>Mes commandes</div>
    </nav>

    <div class="row" style="font-weight:bold; border-bottom:solid 1px black;padding-bottom:10px;margin-bottom:10px">
        <div class="col col-xs-2" translate>#</div>
        <div class="col col-xs-4" translate>Date de commande</div>
        <div class="col col-xs-4" translate>Date de livraison</div>
        <div class="col col-xs-1" translate>Status</div>
    </div>

    <div ng-repeat="order in orders">
        <div class="row clickable" ng-click="isNotCollapsed = !isNotCollapsed">
            <div class="col col-xs-2" >{{order.number}}</div>
            <div class="col col-xs-4" >{{order.created_date | date:"MM/dd/yyyy hh:mm"}}</div>
            <div class="col col-xs-4" >{{order.date | date:"MM/dd/yyyy hh:mm"}}</div>
            <div class="col col-xs-1" >{{order.state.name}}</div>
            <div class="col col-xs-1" ><span class="glyphicon" ng-class="(isNotCollapsed) ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span></div>
        </div>
        <div collapse="!isNotCollapsed">
            <div class="well well-lg">
                <div class="row" style="font-weight:bold;">
                    <div class="col col-xs-3" translate>Nom</div>
                    <div class="col col-xs-6" translate>Description</div>
                    <div class="col col-xs-2" translate>Prix</div>
                    <div class="col col-xs-1" translate>Quantité</div>
                </div>
                <div class="row" ng-repeat="lo in order.lines_orders">
                    <div class="col col-xs-3" >{{lo.dish.name}}</div>
                    <div class="col col-xs-6" >{{lo.dish.description}}</div>
                    <div class="col col-xs-2" >{{lo.dish.price}}</div>
                    <div class="col col-xs-1" >{{lo.quantity}}</div>
                </div>
            </div>
        </div>
    </div>

</div>