<div class="modal-header">
    <h3 class="modal-title"><span translate>Suppresion du restaurateur</span> '{{restaurateur.firsname}} {{restaurateur.lastname}}'</h3>
</div>

<form name="restaurantForm">

	<div class="modal-body">
		<alert-message alert-data="dataAlert"></alert-message>
        <span translate>Etes-vous sur de vouloir supprimer ce restaurateur ?</span>
	</div>

	<div class="modal-footer">
		<button class="btn btn-danger" ng-click="delete()" translate>Supprimer</button>
		<button class="btn btn-default" ng-click="cancel()" translate>Annuler</button>
	</div>

</form>