<div class="container">

	<nav class="navbar navbar-default">
		<div class="navbar-brand">Restaurateurs</div>
		<div class="navbar-brand navbar-right">
			<a ng-click="add()" tooltip="Ajouter">
				<i class="glyphicon glyphicon-plus clickable"></i>
			</a>
		</div>
	</nav>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th class="text-right">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="restaurateur in restaurateurs">
				<td>{{$index + 1}}</td>
				<td>{{restaurateur.firstname}}</td>
				<td>{{restaurateur.lastname}}</td>
				<td class="text-right">
					<a ng-click="edit(restaurateur)" tooltip="Modifier"><i class="glyphicon glyphicon-pencil clickable"></i></a>
					<a ng-click="remove(restaurateur)" tooltip="Supprimer"><i class="glyphicon glyphicon-remove clickable"></i></a>
				</td>
			</tr>
		</tbody>
	</table>

</div>