<div class="modal-header">
	<h3 class="modal-title">Edition restaurant '{{restaurant.name}}'</h3>
</div>

<form name="restaurantForm">
	<div class="modal-body">

		<div class="control-group">
			<label class="control-label">Nom *</label>
			<div class="controls">
				<input class="form-control" type="text" name="name" ng-model="restaurant.name" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Téléphone</label>
			<div class="controls">
				<input class="form-control" type="text" name="phone" ng-model="restaurant.phone">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Adresse</label>
			<div class="controls">
				<input class="form-control" type="text" name="address" ng-model="restaurant.address">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Code postal</label>
			<div class="controls">
				<input class="form-control" type="text" name="zipcode" ng-model="restaurant.zipcode">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Ville</label>
			<div class="controls">
				<input class="form-control" type="text" name="city" ng-model="restaurant.city">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Pays</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="restaurant.country">
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="edit()" ng-disabled="restaurantForm.$invalid">Valider</button>
		<button class="btn btn-warning" ng-click="cancel()">Annuler</button>
	</div>

</form>