<div class="container">

	<h3>Restaurants</h3>

	<button class="btn btn-default" ng-click="add()">Ajouter</button>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Téléphone</th>
				<th>Addresse</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="restaurant in restaurants">
				<td>{{$index + 1}}</td>
				<td>{{restaurant.name}}</td>
				<td>{{restaurant.phone}}</td>
				<td>{{restaurant.address}}<br/>
					{{restaurant.city}} {{restaurant.zip}}<br/>
					{{restaurant.country}}
				</td>
				<td>
					<a ng-click="edit(restaurant)"><i class="glyphicon glyphicon-edit"></i></a>
					<a ng-click="remove(restaurant)"><i class="glyphicon glyphicon-remove"></i></a>
				</td>
			</tr>
		</tbody>
	</table>

</div>