<div class="modal-header">
	<h3 class="modal-title" translate>Formulaire d'authentification</h3>
</div>

<form name="authentificationForm">

	<div class="modal-body">

		<alert-message alert-data="dataAlert"></alert-message>

		<div class="control-group">
            <label class="control-label"><span translate>Courriel</span> *</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="user.mail" required>
			</div>
		</div>

		<div class="control-group">
            <label class="control-label"><span translate>Mot de passe</span> *</label>
			<div class="controls">
				<input class="form-control" type="password" ng-model="user.password" required>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="login()" ng-disabled="authentificationForm.$invalid" translate>Se connecter</button>
		<button class="btn btn-default" ng-click="cancel()" translate>Annuler</button>
	</div>

</form>