<div class="container">

    <alert-message alert-data="dataAlert"></alert-message>

    <form name="editProfilForm">

        <div class="row">

            <div class="col col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Informations générales</h3>
                    </div>
                    <div class="panel-body">
                        <div class="control-group">
                            <label class="control-label">Nom *</label>
                            <div class="controls">
                                <input class="form-control" type="text" ng-model="user.lastname" placeholder="Nom" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Prénom *</label>
                            <div class="controls">
                                <input class="form-control" type="text" ng-model="user.firstname" placeholder="Prénom" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-earphone"></span> Contact</h3>
                    </div>
                    <div class="panel-body">
                        <div class="control-group">
                            <label class="control-label">Téléphone *</label>
                            <div class="controls">
                                <input class="form-control" name="phone" type="text" ng-model="user.phone" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" placeholder="ex: 514-123-4567" required>
                                <span ng-show="editProfilForm.phone.$error.pattern">Le numéro de téléphone doit être de la forme xxx-xxx-xxxx</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Courriel</label>
                            <div class="controls">
                                <input class="form-control" type="text" ng-model="user.mail" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span> Adresse</h3>
                    </div>
                    <div class="panel-body">
                        <div class="control-group">
                            <label class="control-label">Adresse *</label>
                            <div class="controls">
                                <input class="form-control" type="text" ng-model="user.address" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Ville *</label>
                            <div class="controls">
                                <input class="form-control" type="text" ng-model="user.city" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Code postal *</label>
                            <div class="controls">
                                <input class="form-control" type="text" ng-model="user.zipcode" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Pays *</label>
                            <select class="form-control" type="text" ng-model="user.country_id" ng-options="country.id as country.name for country in countries" required>
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-lock"></span> Mot de passe</h3>
                    </div>
                    <div class="panel-body">
                        <div class="control-group">
                            <label class="control-label">Mot de passe *</label>
                            <div class="controls">
                                <input class="form-control" type="password" ng-model="user.password" required>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Répétez mot de passe *</label>
                            <div class="controls">
                                <input class="form-control" type="password" name="password_secure" ng-model="user.password_secure" ng-match="user.password" required>
                                <span ng-show="editProfilForm.password_secure.$error.match">Le mot de passe doit être le même qu'au précédent champ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="validate-form">
            <button class="btn btn-primary" ng-click="edit()" ng-disabled="editProfilForm.$invalid">Valider</button>
            <button class="btn btn-danger align-left" ng-click="remove(user)">Supprimer profil</button>
        </div>

    </form>

</div>