<div class="modal-header">
	<h3 class="modal-title" ng-show="!completed">Inscription</h3>
	<h3 class="modal-title" ng-show="completed">Inscription réussite !</h3>
</div>

<div ng-show="completed">
	<div class="modal-body">
		<div class="row">
			<div class="col-md-3 text-right"><b>Nom</b></div>
			<div class="col-md-9">{{user.firstname}}</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right"><b>Prénom</b></div>
			<div class="col-md-9">{{user.lastname}}</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right"><b>Téléphone</b></div>
			<div class="col-md-9">{{user.phone}}</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right"><b>Adresse</b></div>
			<div class="col-md-9">
				{{user.address}}<br>
				{{user.city}} {{user.zipcode}}<br>
				{{user.country}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-right"><b>Identifiant</b></div>
			<div class="col-md-9">{{user.mail}}</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="login()">Connectez-vous</button>
		<button class="btn btn-default" ng-click="cancel()">Fermer</button>
	</div>
</div>

<form name="signupForm" ng-show="!completed">

	<div class="modal-body">
		<alert-message alert-data="dataAlert"></alert-message>

		<div class="control-group">
			<label class="control-label">Nom *</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="user.lastname" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Prénom *</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="user.firstname" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Téléphone *</label>
			<div class="controls">
				<input class="form-control" name="phone" type="text" ng-model="user.phone" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" required>
				<span ng-show="signupForm.phone.$error.pattern">Le numéro de téléphone doit être de la forme xxx-xxx-xxxx</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Adresse *</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="user.address" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Ville *</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="user.city" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Code postal *</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="user.zipcode" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Pays *</label>
			<div class="controls">
				<input class="form-control" type="text" ng-model="user.country" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Courriel *</label>
			<div class="controls">
				<input class="form-control" name="mail" type="email" ng-model="user.mail" required>
				<span ng-show="signupForm.mail.$error.email">Le format de l'adresse mail est incorrect</span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Mot de passe *</label>
			<div class="controls">
				<input class="form-control" type="password" ng-model="user.password" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Répétez mot de passe *</label>
			<div class="controls">
				<input class="form-control" type="password" name="password_secure" ng-model="user.password_secure" ng-match="user.password" required>
				<span ng-show="signupForm.password_secure.$error.match">Le mot de passe doit être le même qu'au précédent champ</span>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="signup()" ng-disabled="signupForm.$invalid">S'inscrire</button>
		<button class="btn btn-default" ng-click="cancel()">Annuler</button>
	</div>

</form>